* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, footer {
    text-align: center;
    background-color: skyblue;
    padding: 1px;
    border-radius: 4%;
    border-style: solid;
    border-width: 1px;
}

h1 {
    font-size: 40px;
}

section {
    padding: 1px;
    margin: 5px;
    border-radius: 4%;
    border-style: solid;
    border-width: 1px;
}

#intro {
    background-color: springgreen;
}

#history {
    background-color: burlywood;
}

article {
    padding: 0px 10px;
}

ul li {
    line-height: 1cm;
}

.entry {
    font-variant: small-caps;
}

.details {
    font-style: italic;
}